/* https://salla.sa/nivotissues */

.s-product-options-grid-mode input:checked + div{
background:  var(--color-primary) !important;
color:  var(--color-background)  !important ;
border-color:  var(--color-background) !important;
}
.kayan-faq , .kayan-features{
border-color: var(--color-primary) !important ;
}
.kayan-banners  > div > div.flex ,  .kayan-banners  > div > div  > div > h2  {
text-align: center !important;
justify-content: center !important;
margin: auto !important;
}
.app-inner.flex.flex-col.min-h-full > div.kayan-features.kayan-features-4 {
border-color: var(--color-primary) !important ;
}
.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background: var(--color-background)  !important ;
color:  var(--color-primary) !important ;
}
.kayan-faq.kayan-faq-3> div > div.accordion-container{
border: none !important;	
}
.kayan-faq > div > div.accordion-container.flex.flex-col.justify-center > div {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
margin: 0.7rem auto !important;
background: var(--color-primary) !important ;
color: var(--color-background) !important ;
border-radius: 0.7rem !important;
}
.kayan-features  > div > div.flex {
display: grid !important;
grid-template-columns: repeat(2, 1fr) !important;
gap: 1rem !important; 
}
.kayan-features > div > div.flex > *:first-child {
grid-column: 1 / -1;
}
custom-salla-product-card > div > div.overflow-hidden.relative > a  > img , .s-products-list-vertical-cards > custom-salla-product-card > div > div.overflow-hidden.relative > a> img{
aspect-ratio: 12/16 !important;
object-fit: cover !important;
}
#comments-filter ,  salla-comments > div > div > div.s-comments-header.has-total > div , form > salla-product-options > salla-conditional-fields > div  > div > div > div > label  > div, .main-content  > form > salla-product-options{
background: var(--color-background)  !important;
}
.custom-bar > div > h3 {
color:  var(--color-background)  !important ;	
}
salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card  > div > div.overflow-hidden  > a.block  > span , .kayan-promotion_title , .banner-label{
background: #ABC6E7 !important ;
color: var(--color-background) !important ;
}
.custom-bar{
background: var(--color-primary) !important ;
color: var(--color-background) !important;	
}
.separator-wave {
background: linear-gradient(90deg, transparent,var(--color-primary) , transparent) !important ;
} 
.kayan-features.kayan-features-5, .separator-wave {
border-color:  var(--color-primary)  !important ;
}
#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-features.kayan-features-0.px-10.py-10.border-y-2.border-black.overflow-hidden.block.block{
border-color:  var(--color-primary)  !important ;
}
#app > div.app-inner.flex.flex-col.min-h-full > section > div > div.accordion-container.flex.flex-col.justify-center.items-center.w-full  , #app > div.app-inner.flex.flex-col.min-h-full > section > div , .kayan-faq{
border: none !important;
}

.kayan-header  > div > div > div.flex-1 > div.w-24 > a > img{
display: none !important ;
width: 4rem !important;
max-width: 4rem !important;
}

/* ***** */

@media (max-width: 767px){

.kayan-banners.py-10.overflow-hidden > div > div.grid > div:nth-last-child(1) {
// margin-right: 50% !important;
}


#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-banners.py-10.overflow-hidden{
margin-top: 0 !important;
padding-top: 0 !important;
}
.craffo-components-statistics > div{
display: grid !important;
grid-template-columns: auto auto auto !important;	
width: 100% !important;
margin: auto !important;
justify-content: center !important;
}

  .scroll-top.fixed.right-4.w-12.h-12.rounded-full.z-40.text-white.text-lg.flex.justify-center.items-center.cursor-pointer.duration-500.bottom-14{
	bottom: 4.5rem !important;
}

  .craffo-components-statistics i {
    font-size: 28px !important;
  }

  .craffo-components-statistics .text-5xl {
    font-size: 20px !important;
    margin-top: 4px;
  }

  .craffo-components-statistics .text-lg {
    font-size: 13px !important;
    margin-top: 2px;
        line-height: 1rem;

  }

  .craffo-components-statistics .p-2,
  .craffo-components-statistics .md\:p-4 {
    padding: 6px !important;
  }

  .craffo-components-statistics .rounded-md {
  padding: 0.2rem !important;
  }

  .craffo-components-statistics .grid {
    gap: 30px !important;
  }


.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background: var(--color-background)  !important ;
color:  var(--color-primary) !important ;
}
.kayan-features  > div > div.grid  > div:nth-child(3){
margin-right: 50% !important;
width: 100% !important;
}
footer > div > div > div > div.flex > salla-trust-badges , #contact-slot a{
justify-content: center !important;
margin: auto !important;
text-align: center !important;
}

}


@media (min-width: 767px){
#app > div.app-inner.flex.flex-col.min-h-full > div.relative.px-10.py-10.container.mx-auto.craffo-components-statistics{
margin: 11rem auto 1rem auto !important;
}
.app-inner.flex.flex-col.min-h-full > div.navbar.invisible{
margin: 2rem auto !important;
}

}
