.s-block--marquee.is-mini .marquee,.s-block--brand.in-header {
    direction: rtl !important;
}

#main-content .bg-white,.is-sticky-product-bar .sticky-product-bar{
    background-color: var(--color-background) !important;
}
.sicon-menu {
  position: relative !important;
  display: inline-block !important;
  width: 28px !important;
  height: 4px !important;
  background: var(--header-text-color) !important;
  border-radius: 999px !important;
  color: transparent !important;
  box-shadow: 0 8px 0 var(--header-text-color) !important,
              0 -8px 0 var(--header-text-color) !important;
}

.sicon-menu::before,
.sicon-menu::after {
  content: "" !important;
  position: absolute !important;
     width: 80% !important;
    height: 4px !important;
  background: var(--header-text-color) !important;
  border-radius: 999px !important;
}

.sicon-menu::before {
  top: -8px !important;
}

.sicon-menu::after {
  bottom: -8px !important;
}

html[dir="ltr"] .marquee__content {
  animation-duration: 80s !important;
}

.s-block--marquee.in-header{
	direction: rtl !important;
}

.header-buttons button::before {
  content: "\f0c3";
    font-weight: 200;
    font-size: 15px;
    display: inline-block;
    margin-inline-end: 6px;
    font-family: 'sallaicons' !important;
    color: var(--header-text-color) !important;
}
