/* store-1508491156.css */

/* https://salla.sa/rawnq-line */

body .abayat-store-header custom-main-menu .mobile-menu .main-menu li a {
    font-weight: 500 !important;
}

 @media (max-width: 768px){

 .s-products-slider-card.swiper-slide {
	width: 11rem !important;
	max-width: 11rem !important;
}
}
.s-product-card-entry .s-product-card-image img{
	aspect-ratio: 11/18 !important;
	object-fit: cover !important;
	height: 100% !important;
	width: 100% !important;
	background-size: cover !important;
}

