/* https://salla.sa/orjwan.sweets */

 footer > div > div > div:nth-child(1) > .logo > img {
  opacity: 0 !important;
}
 footer > div > div > div:nth-child(1) > .logo {
  background-image: url("https://asas-tools.com/u/uploads/sara_craffo/3977598779200229_yespan-removebg-preview.png");
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#app > div.app-inner.flex.flex-col.min-h-full > div.copyright.flex.justify-center.w-full.p-2.text-sm.text-slate-800 > div > p{
	display: none !important;
}

.sicon-search , .copyright{
display:none !important ;
}
#app > div.app-inner.flex.flex-col.min-h-full > footer > div > div > div:nth-child(1) > ul.flex.items-stretch.space-x-2{
display: none !important;
}

.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--bundle-text-content , .s-block.s-block--bundle-text-content ,  .app-inner .relative.container.mx-auto.text-center.mt-5{
background-color: #fff8f0 !important ;
margin:auto !important ;
text-align: center !important ;
}


/* **** */


#app > div.app-inner.flex.flex-col.min-h-full > section  > div .right-side , #app > div.app-inner.flex.flex-col.min-h-full > div.relative.py-3  > div {
	margin: auto !important ;
	text-align: center !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > div.relative , .main-content.w-full > section ,  .app-inner.flex.flex-col.min-h-full .prestige-breadcrumbs {
	background:var(--background-color-theme) !important ;
}

/* *** */

