section.s-block.s-block--bundle-marsoom-conversion-cta {
	overflow: hidden !important;
	margin: unset !important;
	padding: unset !important;
}

section.s-block.s-block--bundle-scarcity-limited-edition,
section.s-block.s-block--bundle-faq-accordion,
section.s-block.s-block--bundle-testimonials-community,
section.s-block.s-block--bundle-art-video-hero,
section.s-block.s-block--bundle-art-banner,
section.s-block.s-block--bundle-before-after,
section.s-block.s-block--bundle-hero-stacked{
	margin: unset !important;
}
section.art-testimonials-slider .art-slide > div.w-full.h-64.bg-gray-200.flex.items-center.justify-center.text-gray-500{
	display: none !important;
}
section.art-testimonials-slider {
	background-color: #ECD9C4 !important;
}
section.art-testimonials-slider i{
	color: #fbbf24 !important;
}

section.art-testimonials-slider .art-slide.bg-white{
	background-color: #fcf3e7 !important;
}
