/* https://aboabed.com/%D9%84%D9%8A%D8%AF-%D9%88%D9%84%D8%A7%D8%B9%D9%87-%D9%84%D9%8A%D9%84%D9%8A/p729115203 */

.part-main-content.main-content.top-24.w-full> div.mb-4.flex.justify-between.bg-white.rounded-md.px-4.py-2{
    border: 1px solid #000 !important;
    border-radius: 6px !important;
}

@media(max-width: 768px){
.s-product-card-content-footer .s-button-element {
    white-space: nowrap !important;
    overflow: visible !important;
    text-overflow: unset !important;
    min-width: 100% !important;
    padding-inline: 14px !important;
}

.s-product-card-content-footer .s-button-text {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 6px;
    white-space: nowrap !important;
        font-size: 12px !important;
    gap: 4px !important;
}

.s-product-card-content-footer .s-button-text span {
    overflow: visible !important;
    text-overflow: unset !important;
}
	.s-product-card-content-footer .s-button-text i {
    font-size: 12px !important;
}
	
}


.part-main-content .mb-4.flex.justify-between.bg-white.rounded-md {
	background: transparent !important;
}

.part-main-content .text-unicode {
	font-weight: 900;
}

.part-main-content
	.mb-4.flex.justify-between.bg-white.rounded-md
	> div:first-child {
	font-size: 0;
}

.part-main-content
	.mb-4.flex.justify-between.bg-white.rounded-md
	> div:first-child
	i {
	font-size: 1.1rem;
	color: #991b1b;
}

.part-main-content
	.mb-4.flex.justify-between.bg-white.rounded-md
	> div:first-child::after {
	content: 'رقم القطعة';
	font-size: 1.1rem;
	color: #991b1b;
	margin-right: 4px;
}

.s-product-card-entry .s-product-card-rating {
	display: none;
}

.s-product-card-entry .s-product-card-content-sub .s-product-card-sale-price h4,
.s-product-card-starting-price,
.s-product-card-entry .s-product-card-content-sub .s-product-card-price {
	color: #e3230c !important;
}



/* **** */

.part-main-content  > form > section {
background: var(--color-background) !important;
}

