/* https://tpms-ksa.com/ */
/* store-1115212126.css */


/* السجل التجاري */


.mobile-menu.mm-spn--light ul li span{
	color: black !important;
}
#part-store-header > div >  .main-nav-container.part-main-nav ul li span {
	color: white  !important;
}

@media (max-width: 767px) {
    .s-search-container-open {
        height: 40vh;
    }
}



.s-search-grid-item .s-search-product-card-image a,
.s-search-grid-item .s-search-product-card-content-title a {
pointer-events: auto !important;
}
