/* store-656694645.css */

/* // https://salla.sa/Ghayashooping */

.main-content  > div.product__description  > article > p > span{
background-color: var(--color-background) !important;
}

.s-product-options-option-container ,.main-content   form ,.main-content   form  salla-product-options ,   .main-content   form  salla-product-options * , .custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background: var(--color-background) !important;
color: var(--color-primary) !important;
fill:  var(--color-primary) !important;
}

.kayan-banners > div > div  > div > h2{
margin: auto !important;
justify-content: center !important;
}
.custom-bar > div > h3,  .navbar > div > ul > li  > a  ,   salla-quantity-input > div > button  span   svg  ,   salla-quantity-input   .s-quantity-input-button{
color: var(--color-background) !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > div.custom-bar.w-full.py-5.mb-6.bg-primary.text-white > div > div > salla-button button{
background: var(--color-background) !important;
color: var(--color-primary) !important;
fill:  var(--color-primary) !important;
}

.kayan-faq.kayan-faq-3 > div > div.accordion-container {
border: none !important;
}
.kayan-faq > div > div.accordion-container.flex.flex-col.justify-center > div {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
margin: 0.8rem auto !important;
background: var(--color-primary) !important;
color: var(--color-background) !important;
border-radius: 0.6rem !important;
padding: 0.4rem 0.99rem !important;
font-size: 0.8rem !important;
}
.kayan-faq.kayan-faq-3 .accordion-container  h5 > button{
font-size: 0.8rem !important;
}
custom-salla-product-card > div > div.overflow-hidden.relative > a > img,
.s-products-list-vertical-cards > custom-salla-product-card > div > div.overflow-hidden.relative > a > img {
aspect-ratio: 12 / 18 !important;
object-fit: cover !important;
}
#comments-filter,
salla-comments > div > div > div.s-comments-header.has-total > div,
form > salla-product-options > salla-conditional-fields > div > div > div > div > label > div,
.main-content > form > salla-product-options , .content.content--single-page{
background: var(--color-background) !important;
}
salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card > div > div.overflow-hidden > a.block > span,
.kayan-promotion_title,
.banner-label  , .discountPercentage {
background: var(--color-primary) !important;
color: var(--color-background) !important;
}
.main-content.w-full  > div.flex.whitespace-nowrap.gap-4  > div > h4 , .total-price ,  salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card  > div > div.px-6.py-2.text-center > span > div > h4{
color: var(--color-primary) !important;
}
.separator-wave {
background: linear-gradient(90deg, transparent, var(--color-primary), transparent) !important;
}
.separator-wave,
.kayan-categories,
.kayan-features {
border-color: var(--color-primary) !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > section > div > div.accordion-container.flex.flex-col.justify-center.items-center.w-full,
#app > div.app-inner.flex.flex-col.min-h-full > section > div,
.kayan-faq {
border: none !important;
}
.s-product-options-grid-mode input:checked + div{
background: var(--color-primary) !important ;
color:  var(--color-background)  !important;	
}

.kayan-faq .accordion-container > div {
padding: 0.8rem !important;
margin: 0.4rem !important;
}

footer div , salla-trust-badges, footer .contact-slot  , footer .contact-slot .s-contacts-item *{
margin: auto !important;
justify-content: center !important;
text-align: center !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > header > div > div > div.flex-1.lg\:justify-center.items-center.flex.gap-4.overflow-hidden > div.w-24{
display: flex !important;
}

@media (max-width: 767px) {


#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-banners.py-10.overflow-hidden {
margin-top: 0 !important;
padding-top: 0 !important;
}
.kayan-header  a img {
display: none !important;
}

.index .kayan-header {
height: 120px !important;
}

}


@media (min-width: 768px) {

.app-inner.flex.flex-col.min-h-full > div.navbar.invisible {
margin: 2rem auto !important;
}

}

/* **** */


.kayan-categories.py-16.block.block > div > div > a  > div.absolute * , .kayan-categories.py-16.block.block > div > div > a  > div.absolute{
font-size: 0.9rem !important;
}
.kayan-categories.py-16.block.block > div > div > a  > div.absolute.inset-0.p-6 > p{
display: none !important;
}

