/* https://salla.sa/ArabicaLatina */

.ronaq-store-footer .copyright-text p,
.ronaq-store-footer .copyright-text p a {
    color: transparent !important;
}
.ronaq-store-footer .copyright-text p {
    position: relative;
}
.ronaq-store-footer .copyright-text p::after {
    content: "الحقوق محفوظة 2026 Arabica Latina";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    color: white !important;
    font-size: 12px;
    font-family: inherit;
    white-space: nowrap;  
}

.ronaq-features > div > div > div.ronaq-features-texts > div{
	color: white !important;
}
.product__description .ronaq-product-description-text,
.product__description .ronaq-product-description-text * {
  text-transform: none !important;
}

html[lang="en"] body,
html[lang="en"] * {
  font-family: "Neo Sans", sans-serif !important;
}
html[lang="en"] [class^="sicon-"],
html[lang="en"] [class*=" sicon-"] {
  font-family: "sallaicons" !important;
}
