.ronaq-desc-section {
	border: none !important;
}

.ronaq-desc-header {
	color: #fff !important;
	background-color: #0b4d40 !important;
	margin-bottom: 0.25rem !important;
	padding: 12px 0.5rem !important;
	border-radius: 5px !important;
}

.ronaq-desc-content {
	background: #f8e2c266 !important;
	padding: 0 0.5rem !important;
	border-radius: 10px !important;
	margin-bottom: 0.5rem !important;
}
