/* https://siyadvisuals.com/ */

#main-content > section > div.relative.container.mx-auto  > div > div > a.bg-transparent ,
footer .store-footer__inner > div > div > div.flex.flex-col.gap-4 > div.flex{
display: none !important;	
}
salla-trust-badges.s-trust-badges-wrapper, salla-trust-badges.s-trust-badges-wrapper * {
display: none !important;
}
.black-store-footer .black-store-footer__inner salla-social .s-social-list .s-social-link a:hover {
background-color: #c5a059 !important;
}
.black-store-footer .black-store-footer__inner salla-contacts .s-contacts-item .s-contacts-icon , .black-store-footer .black-store-footer__inner salla-contacts ,#contact-slot > a > span.unicode , .store-footer__inner.black-store-footer__inner > div > div  > salla-menu > div > div > a , .black-store-footer .black-store-footer__inner salla-social .s-social-list .s-social-link a{
color:  #c5a059 !important;
fill:  #c5a059 !important;
}
