/* store-1932354924.css  https://salla.sa/sont/#mobile-menu */

.nova-main-content.main-content salla-installment > div
{
	background-color: #9a83a5 !important;
	color: #fff !important;
}

.nova-main-content .s-add-product-button-main>salla-button button{
	background-color: #9a83a5 !important;
	    border-color: #9a83a5 !important;
	    border-radius: unset !important;
	   
}

.nova-main-content .s-add-product-button-main .s-add-product-button-mini-checkout{
	background-color: #9a83a5 !important ;
	 color: #fff !important;
	     --salla-fast-checkout-button-border-radius: 0px !important;
    padding-bottom: 0px !important;
}
.s-fast-checkout-button.outline,.s-add-product-button-mini-checkout-content,.s-fast-checkout-button{
	color: #fff !important;
}
.nova-store-footer .nova-copyright{
	display: none !important;
}
.mm-ocd__content .mobile-menu {
background: #151126 !important;
color: white !important;
}
body  , section{
background: #151126 !important;
} 


.nova-categories.block  h2,
#main-content > section.py-8.container > div.text-center.max-w-2xl.mx-auto.mb-12 > h2,
.nova-why-us span{
	color: #9a83a5 !important;
}


.nova-video-text-photo a:nth-child(2){
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
	    --tw-shadow: 0 0 20px hsla(0, 0%, 100%, .2);
    --tw-shadow-colored: 0 0 20px var(--tw-shadow-color);
}


#main-content > section.s-block.s-block--slider-with-bg.s-block--full-bg > div.slider-bg > div > div > h3,
#main-content > section.s-block.s-block--slider-with-bg.s-block--full-bg > div.slider-bg > div > div > p{
		color: #9a83a5 !important;
}
