#app > footer > div.flex.flex-col-reverse.items-center.justify-between.py-4.container.text-center.gap-3 > span.text-sm.copyright-text{
	display: none !important;
}

.main-nav-container .navbar-brand img {
	max-width: unset !important;
	min-width: unset !important;
}

.navbar-brand img {
    max-height: 4rem !important;
}


.naya-main-content.main-content.top-24.w-full > form > section.bg-white.p-5.rounded-md.mb-5{
	background-color: transparent !important;
}


@media(min-width: 768px){
	section.sticky-product-bar{
		background-color: transparent !important;
	}
}


body .s-reviews-testimonial__icon svg{
	fill : #544730 !important;
}

@media (min-width: 1024px) {
  body .s-reviews-testimonial {
        padding: 1.5rem !important;
    }
}

body .s-reviews-container .s-reviews-testimonial{
	background-color: #fff !important;
	border: 1px solid #544730 !important;
	border-radius: 10px !important;
}



@media(max-width: 768px){
.naya-store-footer .naya-footer-links a{
	justify-content: center !important;
}
}

.naya-faq-title{
  width:100% !important;
  margin-bottom:40px;
}



#accordionExample{
  max-width:900px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
}

#accordionExample > div{
   background: #fff !important;
  border:1px solid #edd9a2 !important;
  border-radius:24px;
  overflow:hidden;
  padding:0 !important;
  box-shadow:0 2px 10px rgba(0,0,0,.05);
}

#accordionExample button{
  padding: 11px 16px !important;
 color: #000 !important;
  align-items:center;
}

#accordionExample button span{
  width:42px;
  height:42px;
  border-radius:999px;
  display:flex;
  align-items:center;
  justify-content:center;
   background: #fff !important;
  margin-right:16px;
  flex-shrink:0;
}

#accordionExample button i{
  color: #edd9a2 !important;
}



#accordionExample p{
  color: #000 !important;
  line-height:1.9;
  opacity:.9;
  padding:0 28px 28px !important;
  border-top:1px solid rgba(255,255,255,.08);
  margin-top:10px;
  padding-top:22px !important;
}

@media(max-width:768px){

  #accordionExample button{
    padding:16px !important;
  }

  #accordionExample p{
    padding:0 20px 20px !important;
    padding-top:18px !important;
  }

}


.s-product-card-entry{
	border: 1px solid #544730 !important;
	border-radius: 5px !important;
	overflow: hidden !important;
}
.s-product-card-entry .s-product-card-content .s-product-card-content-main .s-product-card-content-title a{
	height: 4.2rem !important;
	overflow: hidden !important;
}


body .s-product-card-entry .s-product-card-content {
    padding: 10px 8px !important;
}


