/* https://salla.sa/orjwan.sweets */

.sicon-search{
display:none !important ;
}
#app > div.app-inner.flex.flex-col.min-h-full > footer > div > div > div:nth-child(1) > ul.flex.items-stretch.space-x-2{
display: none !important;
}

.copyright{
display:none !important ;
}

.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--bundle-text-content , .s-block.s-block--bundle-text-content ,  .app-inner .relative.container.mx-auto.text-center.mt-5{
background-color: #fff8f0 !important ;
margin:auto !important ;
text-align: center !important ;
}

footer .copyright , footer .copyright , .copyright  > div .copyright a , #app > div.app-inner.flex.flex-col.min-h-full > div.copyright.flex.justify-center.w-full.p-2.text-sm.text-slate-800 > div > p , #app > div.app-inner.flex.flex-col.min-h-full > div.copyright.flex.justify-center.w-full.p-2.text-sm.text-slate-800 > div > p a{
	display: none !important;
}
