
/* body{
color:black !important;
} */

.py-20.sense-categories.block  > div > div.grid.grid-cols-3  a > div:nth-child(5){
display: none !important;
}
#main-content > section.py-20.sense-categories.block.block > div > div:nth-child(2)  {
display: grid !important;
grid-template-columns: repeat(5, minmax(0, 1fr)) !important;	
}
@media (max-width: 768px){
.s-products-slider-card{
width: 11rem !important;
max-width: 11rem !important;
}
#main-content > section.py-20.sense-categories.block.block > div > div:nth-child(2)  {
display: grid !important;
grid-template-columns: repeat(5, minmax(0, 1fr)) !important;	
gap: 0.4rem !important;
font-size: 0.7rem !important;
}
.py-20.sense-categories.block.block > div > div.grid.grid-cols-3  > a  > span{
font-size: 0.7rem !important;	
}
#main-content > section.py-20.sense-categories.block.block > div > div.grid  a > div{
width: 3.8rem !important;
height: 3.8rem !important;
}
#main-content > section.py-20.sense-categories.block.block > div > div.text-center.mb-12 > p{
font-size: 1.5rem !important;
}
#main-content > section.sense-features.py-16 > div > div{
grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
#main-content > section.sense-features.py-16 > div > div > div  > h4{
font-size: 0.9rem !important;
}
}

@media (max-width: 768px){

.sense-features > div > div{
grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
.sense-features.py-16 > div > div > div  > div > i{
font-size: 1.2rem !important;
}
.sense-features.py-16 > div > div > div > h4{
font-size: 0.9rem !important;
}
.sense-features > div > div > div  > p{
font-size: 0.7rem !important;
width: 100% !important;
max-width: 100% !important;
}
.sense-features.py-16 > div > div > div{
padding: 0.2rem !important;
}
/* **** */


.s-slider-block__title  .s-slider-block__title-right > h2{
font-size: 0.8rem !important;	
}
.sense-categories > div > div.grid  > a  > span{
font-size: 0.6rem !important;
text-align: center !important;
justify-content: center !important;
margin: auto !important;
line-height: 0.9rem !important;
}
}



