/* store-263219114.css */

/* https://lou-la.online/ */


footer > div > div  > div  > div:nth-child(3)::after {
content: "FL-232007652" !important;
display: flex !important;
flex-direction: row-reverse !important;
margin-top: 1rem !important;
align-items: center !important;
justify-content: flex-start !important;
color: var(--color-footer-text) !important;
background-color: var(--color-background) !important;
background-image: url(https://asas-tools.com/u/uploads/sara_craffo/%D8%A7%D9%84%D8%B9%D9%85%D9%84_%D8%A7%D9%84%D8%AD%D8%B1_%D8%B1%D9%85%D8%B2_%D9%88%D8%AB%D9%8A%D9%82%D8%A9-removebg-preview.png) !important;
background-repeat: no-repeat !important;
background-size: contain !important;
background-position: center right !important;
height: 32px !important;
width: 167px !important;
border-radius: 0.2rem !important;
}

salla-trust-badges , #app > footer > div > div.md\:flex.md\:justify-between.justify-center.md\:items-start.items-center.w-full > div.border-b-\[1px\].border-gray-300.md\:border-0.md\:mb-0.mb-8.lg\:pb-0.pb-8.flex.flex-col.gap-4.md\:max-w-\[250px\] > div.flex.flex-col.gap-4 > div{
	display: flex !important;
}

salla-add-product-button{
display: none !important;
}
#contact-slot > a , footer > div > div  > div *{
margin: auto !important;
justify-content: center !important;
text-align: center !important;
}

.app-inner .custom-bar ,  .main-content.w-full > form > salla-product-options , .main-content > form > salla-product-options > salla-conditional-fields > div  > div > div > div > label  > div , .app-inner  > div.container > div > div , .content--single-page{
background: var(--color-background) !important ;
color: var(--color-primary) !important ;
}
.s-product-options-grid-mode input:checked + div{
color: var(--color-background)  !important;
background: var(--color-primary) !important;
}
.app-inner .custom-bar h3 {
color: var(--color-primary) !important ;
}
.s-social-share-wrapper .s-social-share-btn button{
color: var(--color-background) !important;
background:  var(--color-primary) !important;
}
custom-salla-product-card > div > div.overflow-hidden.relative > a  > img{
aspect-ratio: 12/16 !important;
object-fit: cover !important;
}
footer .kayan-copyright , footer .kayan-copyright , #contact-slot:nth-child(2) > a {
display: none !important;
}
/* ** */
custom-salla-product-card salla-add-product-button  salla-button button  {
display: none !important;
}
.app-inner .kayan-banners {
margin-top: 0 !important;
padding-top: 0 !important;
}
custom-salla-product-card > div > div.px-6.py-2.text-center > div{
display: none !important;
}
.kayan-text {
display: flex !important;
}
.kayan-text  div ul li {
font-size: 0.8rem !important;
}
.app-inner > div.kayan-banners  > div > div.flex {
padding:  0 !important;
margin: 0 !important;
}



/* // nav   */
@media (max-width: 768px){
.kayan-header > div > div > div.flex-1 > div.w-24 > a{
position: absolute;
left: 37%;
width: 29%;
top: 30% !important;
}
.kayan-header  > div > div > div.flex-1 > div.bars{
position: absolute !important;
left: 14% !important;
}
.kayan-header  > div > div > div.flex-1 {
display: flex !important;
}
.kayan-header  > div > div > div.flex-1 .sicon-search {
position: absolute !important;
right: 4% !important;
}
.kayan-header > div > div > div.flex-1.justify-end.items-center> salla-cart-summary{
position: absolute !important;
right: 12% !important;	
}
}
@media (max-width: 768px){
.kayan-text.kayan-text-1{
margin-top:0 !important;
padding-top:0 !important;
}
}
salla-trust-badges , #app > footer > div > div.md\:flex.md\:justify-between.justify-center.md\:items-start.items-center.w-full > div.border-b-\[1px\].border-gray-300.md\:border-0.md\:mb-0.mb-8.lg\:pb-0.pb-8.flex.flex-col.gap-4.md\:max-w-\[250px\] > div.flex.flex-col.gap-4 > div{
	display: flex !important;
}
