/* store-1932354924.css  https://salla.sa/sont/#mobile-menu */

.mm-ocd__content .mobile-menu {
background: #151126 !important;
color: white !important;
}
body  , section{
background: #151126 !important;
} 
