/* store-318955256.css */


.canvas-banner.relative  > div.absolute  > div.absolute.inset-0 {
display: none !important;
}

.canvas-gifts > div > div > div > div.absolute.inset-0.transition-colors.z-1 ,
.canvas-categories a > div.absolute.inset-0{
  display: none !important;
}



section.s-block.s-block--fixed-banner.wide-placeholder, section.s-block.s-block--fixed-banner.wide-placeholder * {
    max-width: unset;
    padding: unset;
    margin: unset;
}
