/* اضافة السجل التجاري للمتجر دا : https://arcosupplies.com/  */ 

.faten-store-footer .faten-sharing .s-payments-list-wrap .s-payments-list::after {
  content: "7005849208";
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: #000;
  white-space: nowrap;
  padding-right: 2.1rem;
  background: url("https://asas-tools.com/u/uploads/sara_craffo/4__1_-removebg-preview.png") right center / 1.8rem  no-repeat;
}
