/* store-1421339070.css */

::selection {
background-color: #935231 ; 
color: #ffffff;          
}
::-moz-selection {
background-color: #935231;
color: #ffffff;
}
/* ==========================================================================
2. تخصيص لون شريط التمرير للمتصفح (Scrollbar)
========================================================================== */

::-webkit-scrollbar {
width: 10px;         
height: 10px;      
}
::-webkit-scrollbar-track {
background: #ffffff;    
}
::-webkit-scrollbar-thumb {
background: #935231;     
border-radius: 5px;    
border: 2px solid #ffffff; 
}
::-webkit-scrollbar-thumb:hover {
background: #935231;       
}
html {
scrollbar-color: #935231 #ffffff; 
scrollbar-width: thin !important ;            
}

/* **** */


body{
color: #935231 !important;
}
.s-product-card-entry .s-product-card-content-footer salla-button button:hover > span {
background-color: #526c95 !important;
color: #fcebd9 !important;
}
.s-product-card-content-main  , .s-block--features__item * , .s-product-card-content-main *{
color: #526c95 ;
}
.s-product-card-content-main *{
color: #526c95 !important ;
}
.feature-icon{
color: #fcebd9 !important;
}
.s-product-card-image{
border-radius: 0.5rem !important;
}
.s-product-card-image > a ,  .s-product-card-image > a img{
background: white !important;
}

.s-block.s-block-statistics .value {
font-size: 1.2rem !important;
font-weight: 500 !important;
padding-bottom: 0.6rem !important;
}
.s-block--bundle-statistics .label , div > div > div  > div p{
font-size: 0.8rem !important;
}

@media (max-width: 768px){
#mobile-menu {
background-color: #935231 !important;
color: #fcebd9 !important;
}
}

footer salla-contacts .s-contacts-list > div:nth-child(1){
display: none !important;
}
