/* store-1962382872.css */

/* https://seasonsksa1.com/ar/%D8%A7%D9%84%D8%B9%D8%A8%D8%A7%D9%8A%D8%A7%D8%AA/c973871149 */


/*  https://seasonsksa1.com */

.kayan-features{
border-color:var(--color-primary) !important ;
}
salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card  > div > div.overflow-hidden  > a.block  > span , .kayan-promotion_title , .banner-label , .s-product-options-grid-mode input:checked + div , .s-products-slider-card.swiper-slide > custom-salla-product-card > div > div > span  , .navbar.invisible  > div > ul.flex.flex-wrap.kayan-full-navbar > li  > div  , .discountPercentage{
background: var(--color-primary) !important ;
color: var(--color-background) !important ;
}
#comments-filter ,  salla-comments > div > div > div.s-comments-header.has-total > div , form > salla-product-options > salla-conditional-fields > div  > div > div > div > label  > div, .main-content  > form > salla-product-options{
background: var(--color-background)  !important;
}
.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button, .s-list-tile-item  {
background: var(--color-background)  !important ;
color:  var(--color-primary) !important ;
}
.kayan-header{
top: 0 !important;
}


@media (max-width: 767px){
.kayan-header {
top: 0 !important;
}
.kayan-header  {
top: 0 !important;
transform: translateY(0) !important;
margin-top: 0 !important;
}
.index .kayan-header {
height: 117px !important;
}

.kayan-header> div > div > div.flex-1 > div.w-24 > a{
display: none !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-banners.py-10.overflow-hidden  > div > div.grid > div:nth-child(3){
margin-right: 50% !important;
}
}
