/*
	store : https://salla.sa/Asala2030
*/





#main-content > section.sand-brands.py-16.block.block > div > div.grid.grid-cols-2> a > div > img{
	filter: unset !important;
	opacity: unset !important;
}

.sand-main-content.main-content > div.sand-price.flex.whitespace-nowrap.gap-4.items-center.mb-4.mt-2{
	display: none !important;
}
