/* store-1489906825.css */
/* https://salla.sa/Smaarlabel */
footer .copyright-text > p{
visibility: hidden !important;
position: relative !important;
margin: auto !important;
}
footer .copyright-text span  {
padding-bottom: 1rem !important;
}
footer .copyright-text p::after {
content:  "الحقوق محفوظة | SMAAR LABEL ";
visibility: visible !important;
position: absolute !important;
left: 50% !important;
top: 50%  !important;
width: 14rem !important;
max-width: 14rem !important;
text-align: center !important;
transform: translate(-50%, -50%) !important;
margin:  1rem auto !important;
}

@media (max-width: 768px){
footer .copyright-text p::after{
top: unset !important;
margin:  0 auto !important;
padding: 0 !important;  
}
}

