/* https://salla.sa/abaya.amas */


.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background: var(--color-background)  !important ;
color:  var(--color-primary) !important ;
}
.kayan-faq > div > div.accordion-container ,  .kayan-faq  > div{
border: none !important;	
}
#app > div.app-inner.flex.flex-col.min-h-full > section.kayan-faq.kayan-faq-3.w-full.h-full.relative.px-10.py-10 > div > div.accordion-container.flex.flex-col.justify-center > div {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
margin: 0.8rem auto !important;
background: var(--color-primary) !important ;
color: var(--color-background) !important ;
border-radius: 0.6rem !important;
}
.kayan-features  > div > div  {
display: grid !important;
grid-template-columns: repeat(2, 1fr) !important;
gap: 1rem !important; 
}
.kayan-features  > div > div.flex > *:first-child {
grid-column: 1 / -1;
}
custom-salla-product-card > div > div.overflow-hidden.relative > a  > img , .s-products-list-vertical-cards > custom-salla-product-card > div > div.overflow-hidden.relative > a> img{
aspect-ratio: 12/18 !important;
object-fit: cover !important;
}
#comments-filter ,  salla-comments > div > div > div.s-comments-header.has-total > div , form > salla-product-options > salla-conditional-fields > div  > div > div > div > label  > div, .main-content  > form > salla-product-options{
background: var(--color-background) !important;
}
.custom-bar > div > h3 {
color: var(--color-primary) !important ;	
}
salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card  > div > div.overflow-hidden  > a.block  > span , .kayan-promotion_title , .banner-label{
background: var(--color-primary) !important ;
color: var(--color-background)  !important ;
}
.separator-wave {
background: linear-gradient(90deg, transparent,var(--color-primary) , transparent) !important ;
} 
.kayan-features , .kayan-features.kayan-features-5, .separator-wave {
border-color:  var(--color-primary) !important ;
}
salla-add-product-button > div > salla-button > button {
background: var(--color-primary) !important ;
color: var(--color-background)  !important;
}
.navbar.invisible > div > ul li{
color: var(--color-background)  !important;	
}
form > salla-product-options > salla-conditional-fields > div > div > label > b ,  form > salla-product-options > salla-conditional-fields > div > div > label > small{
color: var(--color-primary) !important ; 
}
custom-salla-product-card > div > salla-add-product-button > div > salla-button > button:hover .kayan-card-button{
background: var(--color-primary) !important ;
color: var(--color-background)  !important;	
}
footer > div > div  > div > div.flex.justify-center > p span{
display: flex !important ;
justify-content: center !important;
align-items: center !important;
text-align: center !important;
margin: auto !important;
}

@media (max-width: 767px){
.relative.px-10.py-10.container.mx-auto.craffo-components-statistics{
margin: 0 !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-banners.py-10.overflow-hidden{
margin-top: 0 !important;
padding-top: 0 !important;
}
.kayan-header  > div > div > div.flex-1 > div.w-24 > a > img{
display: none !important;
// width: 3.5rem !important;
// max-width: 3.5rem !important;
}
.craffo-components-statistics > div{
display: grid !important;
grid-template-columns: auto auto auto !important;	
}
.craffo-components-statistics > div > div > div{
font-size: 1.6rem !important;	
}
.craffo-components-statistics > div > div> div{
font-size: 0.8rem !important;
}
.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background:  var(--color-background) !important ;
color:  var(--color-primary) !important ;
}
.kayan-banners > div > div.grid > div:nth-child(3){
/* margin-right: 50% !important ;	 */
}

}

@media (min-width: 767px){
#app > div.app-inner.flex.flex-col.min-h-full > div.relative.px-10.py-10.container.mx-auto.craffo-components-statistics{
margin: 11rem auto 1rem auto !important;
}
.app-inner.flex.flex-col.min-h-full > div.navbar.invisible{
margin: 2rem auto !important;
}
}


