@media (max-width: 768px) {
  salla-products-list .s-products-list-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    gap: 10px !important;
  }

  salla-products-list custom-salla-product-card {
    width: 100% !important;
  }
 
  salla-products-list .raheeb-product {
    transform: scale(0.95);
    transform-origin: center;
  }


  salla-products-list .raheeb-size-control {
    width: 100% !important;
    height: auto !important;
  }
  .raheeb-default-product .raheeb-size-control {
    height: 10rem !important;
    width: 10rem !important;
}

.raheeb-default-product .raheeb-box-promotion{
	width: auto !important;
	padding: 0.5rem !important;
}
.raheeb-default-product .raheeb-inside{
    background-size: contain !important;
}

}

@media (max-width: 768px) {

  .raheeb-product .raheeb-box-promotion ,.raheeb-product.flex.flex-col.relative.raheeb-product-out.place-items-center .raheeb-box-out{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;

    margin-bottom: 6px !important;

    width: fit-content !important;
    height: auto !important;

    font-size: 10px !important;
    padding: 4px 8px !important;

    border-radius: 6px;
  }

  .raheeb-product {
    display: flex !important;
    flex-direction: column !important;
  }
}

.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card> div > div.relative > div{
	display: none !important;
}
