.cart  section > div > div.flex.flex-1.rtl\:space-x-reverse.space-x-4 > div > h1,.cart #has_discount{
	color: white !important;
}


.index .kayan-header {
    height: 90px !important;
}

.cart div.app-inner.flex.flex-col.min-h-full > div.container > div > div.sticky.top-24.w-full > div.shadow-default.bg-white.p-5.rounded-md.mb-5.relative.transition-height.duration-1000 *,.cart div.app-inner.flex.flex-col.min-h-full > div.container > div > div.sticky.top-24.w-full > div.shadow-default.bg-white.p-5.rounded-md.mb-5.relative.transition-height.duration-1000.text-gray-500{
color : #59080b !important;
}
