/* https://sleepoverksa.com/ar */

.naya-banner {
width: 100% !important;
max-width: 100% !important;
margin: 0 auto !important;
padding: 0 !important;
background-size: cover !important;
object-fit: cover !important;
height: 33rem !important;
}
@media (max-width: 767px){
.naya-banner{
height: 11rem !important;
}
}

/* ***** resize photos slider mov naya **** */
#swiper-wrapper-29f3722c77dfe732 > div{
width: 100% !important;
max-width: 100% !important;
padding: 0 !important;
margin: 0 auto !important;
}
salla-slider.photos-slider .swiper-slide {
width: 100% !important;
max-width: 100% !important;
padding: 0 !important;
margin: 0 auto !important;
}
salla-slider.photos-slider .swiper:where([dir="rtl"], [dir="rtl"] *) {
padding-left: 0rem;
}
salla-slider.photos-slider .swiper:where([dir="rtl"], [dir="rtl"] *) {
padding-right: 0rem;
}
/* **** */
@media (max-width: 768px){
.naya-categories  > div > div{
grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
margin: 1rem !important;
}
}

/* *** */

