/* السجل التجاري */
/* https://wabarsa.com/ */

footer  salla-payments  ul::before {
content: "7005849208" !important;
display: flex !important;
align-items: center !important;
justify-content: space-between !important;
gap:2rem !important;
margin-top: 0.1rem !important;
font-size: 0.66rem !important;
white-space: nowrap !important;
background: url("https://asas-tools.com/u/uploads/sara_craffo/4__1_-removebg-preview.png") right right / 1.2rem no-repeat !important;
padding-inline-end: 0.4rem !important;
color: black !important;
background-color: rgba(255, 255, 255 , 0.99) !important;
border-radius: 0.2rem !important;
}


