/* store-724958910.css */
/* https://oudcollect.com/%D8%AE%D8%B4%D8%A8-%D8%A7%D9%84%D8%B9%D9%88%D8%AF-%D8%A7%D9%84%D8%B7%D8%A8%D9%8A%D8%B9%D9%8A/c46976888 */

.s-product-card-entry {
background-color: var(--color-background-store) !important;
border: 1px solid #C9B374 !important;
border-radius: 0.5rem !important;
padding-bottom: 0 !important;
margin-bottom: 0 !important;
}
.s-product-card-content-sub  , .s-product-card-content-main {
padding: 0.5rem !important;
}

.kesra-main-content .s-quantity-input-container .s-quantity-input-input ,.s-quantity-input-input , .s-quantity-input-container ,.sticky-product-bar.py-5{
background: var(--color-background-store) !important;
}
 
.kesra-main-banner  span ,  .kesra-main-banner .relative.z-10.text-center.container  span{
display: none !important;
}
@media (max-width: 768px){

.header-search.header-btn__icon {
display: flex !important;	
visibility: visible !important;
opacity: 1 !important;
}
   
}

@media (max-width: 767px) {
  .kesra-banner .grid {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 8px !important;
  }
  .kesra-banner{
  	padding-top: 1rem !important;
  }

  .kesra-banner .group {
    height: 7.2rem !important;
    width: 7.2rem !important;
  }

  .kesra-banner .group h3 {
    font-size: 14px !important;
    line-height: 1.5 !important;
  }

  .kesra-banner .group > a > div:last-child {
    padding: 12px !important;
  }
}
