.content.content--single-page{
	background-color: transparent !important;
}

.cart #main-content > div > div *{
	color: #1a1a1a !important;
}
.s-product-card-content-footer salla-add-product-button[width=wide]{
	width: 80% !important;
}
