
@media (max-width: 640px) {
    .kesra-main-banner .flex a:first-child {
        order: 2;
    }

    .kesra-main-banner .flex a:last-child {
        order: 1;
    }
}

.kesra-main-banner > div.relative.z-10.text-center.container.mx-auto.px-4.mt-20 > span{
	display: none !important;
}
