/* https://feebeauty0.com/ */


custom-salla-product-card .s-product-card-content-title a{
color: #502c12 !important;
}
salla-add-product-button{
margin-top: 1rem !important;
}
.s-product-card-content-footer button ,salla-add-product-button {
background: var(--color-footer-text) !important;
color: #fff0d9 !important;
padding: 0.8rem 1.8rem !important;
border-radius: 1rem !important;
}
.s-product-card-content-footer button span , .s-product-card-content-footer button  i {
color: #fff0d9 !important;
}

.store-footer__inner{
justify-content: center !important;
margin:  auto !important;
}

@media (max-width: 768px){

.store-footer__inner>div{
grid-template-columns: repeat(4, minmax(0, 1fr)) !important;	
}

.s-products-slider-card{
width: 9rem !important;  
}

}
footer > div.store-footer__inner > div > div> a > img , footer > div.store-footer__inner > div > div> a{
margin-top: 0.5rem !important;
margin: auto !important;
justify-content: center !important;
}
salla-add-product-button , .s-product-card-content-footer{
background: var(--color-footer-main) !important;
}
