.s-block.s-block--hero-slider.s-block--full-bg .overlay-bg::before,
.s-block.s-block--hero-slider.s-block--full-bg .overlay-bg::after,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-container::before,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-container::after {
    display: none !important;
    content: none !important;

}

.s-block.s-block--hero-slider.s-block--full-bg .s-slider-wrapper .overlay,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-wrapper .dark-overlay,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-wrapper [class*="overlay"]:not(.overlay-bg) {
    display: none !important;
}


.s-block.s-block--hero-slider.s-block--full-bg .s-slider-prev,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-next,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-nav-arrow,
.s-block.s-block--hero-slider.s-block--full-bg .s-slider-block__title-nav {
    display: none !important;
}



.s-block--hero-slider .swiper-slide {
    min-height: unset !important;
    height: auto !important;
}
.s-block--hero-slider .swiper-slide {
    aspect-ratio: 11 / 6!important;
}
.s-block--hero-slider .home-slider__content {
    height: auto !important;
    padding-bottom: 0 !important;
}

.fixed-products-header {
    position: relative !important ;
    margin-top: 2rem !important;
}

.fixed-products-title {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    text-align: center !important;
       margin-top: -2.5rem !important;
}




/* **edited by sara 22-09-2026* */



.notah-main-content  > .rounded-md.inline-flex.text-sm , .SnippetDefault__SnippetDefault__Content--d4e71 , .notah-main-content.main-content > form > section.rounded-md.mb-5 , .sticky-product-bar , .notah-main-content ,  .notah-main-content.main-content  > form > section.flex.bg-white.p-5 , salla-accordion-body , salla-accordion-head{
background: var(--color-background) !important;
color: var(--color-footer) !important;
fill: var(--color-footer) !important;
}	
salla-accordion-head{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}
.s-multiple-bundle-product-image-wrapper{
height: 5rem !important;
width: 5rem !important;
background: var(--color-background) !important;

}
.notah-main-content  > div > salla-social-share > div > slot-fb > salla-button > button ,  .notah-main-content > div.flex > salla-button > button{
background: var(--color-background) !important;
color: var(--color-footer) !important;
fill: var(--color-footer) !important;
}



/* **** */
