#contact-slot > a[href="tel:+966546068506"]{
	display: none !important;
}

.cart .cart-item p{
	color: #70223d !important;
}

.cart .cart-item .s-product-options-grid-mode input:checked+div{
	background-color: #70223d !important;
	color: #fff !important;
}
.cart .cart-item .s-product-options-grid-mode input{
	background-color: transparent !important;
	border-color: #70223d !important;
	color: #70223d !important;
}
.cart .s-button-primary{
		background-color: #70223d !important;
	color: #fff !important;
}




/* * edited by sara 21-09-2026 ** */
#main-content > section:nth-child(7) , #main-content > section:nth-child(8) , #main-content > section.s-block.s-block--hero-slider.s-block--full-bg.wide-placeholder{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	margin-top: 0 !important;
}
