/* // https://salla.sa/dalaa-abaya */

.app-inner .custom-bar ,  .main-content.w-full > form > salla-product-options , .main-content > form > salla-product-options > salla-conditional-fields > div  > div > div > div > label  > div , .app-inner  > div.container > div > div , .content--single-page{
background: var(--color-background) !important ;
color: var(--color-primary) !important ;
}
.s-product-options-grid-mode input:checked + div{
color: var(--color-background)  !important;
background: var(--color-primary) !important;
}
.app-inner .custom-bar h3 {
color: var(--color-primary) !important ;
}
.s-social-share-wrapper .s-social-share-btn button{
color: var(--color-background) !important;
background:  var(--color-primary) !important;
}
custom-salla-product-card > div > div.overflow-hidden.relative > a  > img{
aspect-ratio: 12/18 !important;
object-fit: cover !important;
}

footer  .kayan-copyright {
display: none !important;
}


/* // nav   */
@media (max-width: 768px){

#app > div.app-inner.flex.flex-col.min-h-full > section{
margin-top: 5rem !important;
}

.kayan-header > div > div > div.flex-1 > div.w-24 > a{
position: absolute;
left: 37%;
width: 23%;
top: 16% !important;
}

.kayan-header  > div > div > div.flex-1 > div.bars{
position: absolute !important;
left: 14% !important;
}
.kayan-header  > div > div > div.flex-1 {
display: flex !important;
}
.kayan-header  > div > div > div.flex-1 .sicon-search {
position: absolute !important;
right: 4% !important;
}
.kayan-header > div > div > div.flex-1.justify-end.items-center> salla-cart-summary{
position: absolute !important;
right: 12% !important;	
}
}

/* ** */

custom-salla-product-card salla-add-product-button  salla-button button  {
display: none !important;
}
.app-inner .kayan-banners {
margin-top: 0 !important;
padding-top: 0 !important;
}

custom-salla-product-card > div > div.px-6.py-2.text-center > div{
display: none !important;
}

.kayan-text {
display: flex !important;
}
.kayan-text  div ul li {
font-size: 0.8rem !important;
}

.app-inner > div.kayan-banners  > div > div.flex {
padding:  0 !important;
margin: 0 !important;
}
