.ronaq-desc-section {
	border: none !important;
}

.ronaq-desc-header {
	color: #fff;
	background-color: #0b4d40;
	margin-bottom: 0.25rem;
	padding: 12px 0.5rem;
	border-radius: 5px;
}

.ronaq-desc-content {
	background: #f8e2c266;
	padding: 0 0.5rem;
	border-radius: 10px;
	margin-bottom: 0.5rem;
}
