/* https://power-experience.com/ar */

#app > footer > div.store-footer__inner.nova-store-footer__inner > div > div  > div.flex.flex-col.gap-4 > div.flex.flex-row.gap-4 > salla-trust-badges , footer > div.store-footer__inner.nova-store-footer__inner > div > div  > div.flex.flex-col.gap-4 > div.flex  , #mainnav > div > div > div > div.flex.items-center.gap-1.justify-end > button.flex.items-center.gap-2.px-2.py-1.transition.nova_show_language_currency.duration-300 > span , footer .flex.flex-col.gap-4 .s-trust-badges-wrapper.hydrated{
display: none !important ;
}
#main-content > section.s-block.s-block--bundle-fixed-banner , #main-content  .s-block.s-block--bundle-fixed-banner{
margin: 0 !important;
margin-top:0 !important; 
}
@media (max-width: 767px){
.content-wrapper  .text-content   h1 , .hero-title {
font-size: 1.2rem !important;
--title-font-size: 1.2rem !important;
}
section > div.content-wrapper > div.text-content > h1
{
--title-font-size: 35px !important;	
font-size: 35px !important;	
}
.content-wrapper .text-content  p{
font-size: 0.8rem !important;
}
section > div.content-wrapper{
padding-top: 1rem !important;
margin-top: 1rem !important;
}
}



