/* https://sleepoverksa.com/ar */

.naya-banner {
width: 100% !important;
max-width: 100% !important;
margin: 0 auto !important;
padding: 0 !important;
background-size: cover !important;
object-fit: cover !important;
height: 33rem !important;
}
@media (max-width: 767px){
.naya-banner{
height: 11rem !important;
}
}
