/* السجل التجاري */
/* https://wabarsa.com/ */

@media (max-width: 768px) {
.store-footer {
position: relative;
}
.store-footer .s-trust-badges-wrapper {
position: absolute;
bottom: 8rem !important;
right: 50%;
transform: translateX(60px);
}

.store-footer .s-trust-badges-image {
width: 38px !important;
height: 38px !important;
}

.store-footer .s-trust-badges-label {
font-size: 11px !important;
line-height: 0.1 !important;
}

.store-footer .s-trust-badges-number {
font-size: 10px !important;
}

}


/* ***** */


.s-product-card-image a  ,
.s-product-card-image ,  
.s-product-card-content  .art-product-card-content-footer-text.s-product-card-content-footer salla-add-product-button salla-button > button ,
.s-products-list .s-product-card-content-footer .s-button-btn,
.s-products-slider-slider .s-product-card-content-footer .s-button-btn{
border-radius: 1.5rem !important;
}
.s-product-card-content  .art-product-card-content-footer-text  salla-add-product-button  salla-button   button ,  salla-button   button{
border-radius: 1.5rem !important;
background: var(--color-add-to-cart-text) !important ;
}
.s-product-card-image-contain , 
html body .s-products-list .s-products-list-wrapper .s-product-card-entry .s-product-card-image{
object-fit: cover !important;
}
.art-promotion-title {
border-radius:  1.5rem 0 0 1.5rem   !important;
margin-right: -1rem !important;
overflow: hidden !important;
}

/* **** */


html body .s-products-list .s-products-list-wrapper .s-product-card-entry .s-product-card-image , .s-product-card-image-contain , 
html body  .s-product-card-image{
border-radius: 1.5rem !important;
}

/* ***** */






