/* store-1009411402.css */



#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner.sense-store-footer__inner > div > div:nth-child(1)::after {
    content: " السجل التجاري 7043039465";
    display: flex !important;
    align-items: center !important;
    // justify-content: center !important;
    // margin-right: auto !important;
    // margin-left: auto !important;
    background-image: url("https://asas-tools.com/u/uploads/sara_craffo/4__1_-removebg-preview.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    padding-right: 55px !important;
    min-height: 45px !important;
    margin-top: 10px !important;
    color: var(--color-footer-text) !important;
    font-size: inherit !important;
    font-family: inherit !important ;
    line-height: 1.3 !important ;
    text-align: right !important ;
    direction: rtl !important;
    max-width: 150px !important;
    word-break: break-word !important;
}




