
/*
 	store : https://ptsolutionsco.com/
*/
@media (max-width: 640px) {
  .hydrated .is-sticky-product-bar .sticky-product-bar,
  .hydrated .is-sticky-product-bar .sticky-product-bar__quantity,
  .hydrated .is-sticky-product-bar .sticky-product-bar salla-add-product-button {
    background-color: black !important;
  }
}

@media (min-width: 100px) {
  .art-main-content .art-product-form .form-label {
    color: white !important;
  }

  div.app-inner.flex.flex-col.min-h-full > salla-comments {
    display: none !important;
  }

  div.art-modal-product.fixed.bottom-4,
  .art-modal-product .s-add-product-button-main .s-add-product-button-mini-checkout {
    background-color: black !important;
  }

  div.main-content.art-main-content > form > section.sticky-product-bar.p-2.px-5 > div {
    background-color: black !important;
  }
  
  
}

.main-content.art-main-content.top-24.w-full> form > section.sticky-product-bar.rounded-md.rounded-b-none.bg-white{
	background-color: transparent !important;
}
