/* store-452888666.css */ 
/* https://salla.sa/luxury-flowers- */


.featured-categories-grid{
background:  #F3F3F3 !important;
}
.featured-categories-grid > div > div.grid {
margin: auto !important;
grid-template-columns: repeat(5, minmax(0, 1fr));
background:  #F3F3F3 !important;
}
.yasmeen-categories-slide , #swiper-wrapper-b820d3210416ff9e2 , .yasmeen-categories{
margin: auto !important;
justify-content: center !important;
}
.yasmeen-categories .swiper {
margin: auto !important;
padding: 0 !important;
}
.s-user-menu-trigger {
background-color: transparent !important;
}
.s-user-menu-trigger , .s-user-menu-trigger-slot , .s-user-menu-wrapper{
background-color: transparent !important;
}
