section.py-8.s-block.s-block--fixed-banner.wide-placeholder {
    padding: 10px 0;
}

.kayan-banners {
    padding: 0px;
}

custom-salla-product-card div div.overflow-hidden.relative a.block.flex.w-full.h-full.justify-center.items-end.px-8.duration-700 div div {
    display: none;
}

@media(max-width:767px) {
    .kayan-header .w-24 {
        margin-right: 6rem !important;
    }

    div.kayan-header.lg\:relative.lg\:z-10.z-50.sticky.top-0.lg\:overflow-visible.overflow-hidden.w-full.h-full div div div.flex-1.lg\:justify-center.items-center.flex.gap-4.overflow-hidden {
        flex: 2;
    }
}

@media(min-width: 100px) {
    .index .kayan-header {
        top: 60px !important;
    }

    .index .navbar {
        top: 120px !important;
    }
}
