.index .kesra-store-header .kesra-main-nav-container {
	background: transparent !important;
}

.index .kesra-store-header {
	position: absolute !important;
	width: 100% !important;
	background: transparent !important;
}


section.s-block.s-block--fixed-banner.wide-placeholder, section.s-block.s-block--fixed-banner.wide-placeholder * {
    padding: unset !important;
    margin: unset !important;
    max-width: unset !important;
}
