#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner.herb-store-footer__inner > div > div:nth-child(1) {
  position: relative;
}

#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner.herb-store-footer__inner > div > div:nth-child(1)::after {
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
  padding: 20px 0;
  position: relative;
bottom: 42px;

  background-image: url("https://asas-tools.com/u/uploads/nada.s/comm.png");
  background-repeat: no-repeat;
background-size: 49px;
  background-position: right center;
}
#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner.herb-store-footer__inner > div > div:nth-child(1)::before {
 content: "7011040644";
white-space: pre-wrap;
display: inline-block !important;
  position: absolute;
  right: 70px;
   bottom: 35px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 1.6;
}

.store-footer .s-social-list::after {
  content: "السجل التجاري";
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 3.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  white-space: pre;
     margin-inline-start: -10.5rem !important;
}
