 .black-main-content.main-content > form > section.sticky-product-bar.bg-white{
 	background-color: var(--color-background-store) !important;
 }

.s-product-card-entry .s-product-card-content .s-product-card-content-main .s-product-card-content-title a {
height: 3.9rem !important;
}


#main-content > section.black-image-features.py-20 > div > div > div.md\:order-first > div > a{
	color: white !important;
}
.content.content--single-page{
	background-color: unset !important;
}

.product-single .scroll-top.fixed.left-4.w-10.h-10.z-40.text-lg.flex.justify-center.items-center.cursor-pointer.duration-500.bottom-10,.product-single .wa-s-n{
	bottom: 120px !important;
}

.cart .bg-white{
	background-color: #e8e1dc !important ;
}




@media (max-width: 768px) {
  .top-navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .top-navbar .flex.justify-between {
    position: relative;
  }
}


.black-store-footer .black-store-footer__inner salla-social .s-social-list .s-social-link a {
    border: 1px solid var(--color-footer-text) !important;
}


#main-content > section.black-image-features.py-20 > div > div > div.md\:order-first > div > div:last-child {
  padding-bottom: 2rem !important;
}

#main-content > section.py-20.black-categories.block.block > div > div.grid.grid-cols-2.gap-4 > a,#main-content > section.py-20.black-reviews.block.block > div > div > div.grid.gap-8 > div{
	border: 2px solid #b2353d !important;
}



#main-content > section.py-20.black-categories.block.block > div > div.grid.grid-cols-2.gap-4 > a{
	border-radius: 1rem !important;
}
.s-product-card-entry .s-product-card-content{
	padding: 10px 5px !important;
}

.s-product-card-entry{
    border: 2px solid #b2353d !important;
}

.s-product-card-entry .s-button-text span {
  display: inline-flex;
  align-items: center;
}

.s-product-card-entry .s-button-text span::before {
    content: "\e906";
    FONT-FAMILY: 'SALLAICONS';
    PADDING-LEFT: 0.2REM !important;
}


