/* https://salla.sa/orjwan.sweets */

.sicon-search{
  display:none !important ;
}
#app > div.app-inner.flex.flex-col.min-h-full > footer > div > div > div:nth-child(1) > ul.flex.items-stretch.space-x-2{
	display: none !important;
}

.copyright{
	display:none !important ;
}

.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--bundle-text-content{
background:#fff8f0 !important ;
}
