
body .s-product-card-entry .s-product-card-image{
flex: unset  !important;
	height: unset !important;
	max-height: unset !important;
}
body .s-product-card-entry .s-product-card-image {
		aspect-ratio: 1/1 !important;
}
body .s-product-card-entry .s-product-card-image img{
	
	    object-fit: cover !important;
}

body .s-products-list .s-products-list-wrapper .s-product-card-entry{

	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08) !important;
}


body .s-products-list .s-products-list-wrapper .s-product-card-entry .s-product-card-content{
	    padding-bottom: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  
}

body .s-products-list .s-product-card-content-footer .s-button-btn,body .s-products-list .s-product-card-content-footer .s-button-primary-outline{
	background-color: var(--color-primary) !important;
	color: #fff !important;
	fill: #fff !important;
}



@media (min-width: 1024px) {
#mainnav,.main-nav-container .mobile-menu .main-menu{
padding-bottom: unset !important;
margin-bottom: unset !important;
}
#mainnav .grid {
display: flex !important;
flex-wrap: wrap !important;
justify-content: space-between !important;
justify-content: center !important;

}
#mainnav .grid > div:nth-child(1) {
order: 3 !important; 
width: 100% !important;
margin-top: 10px !important;
margin-bottom: 10px !important;
}


#mainnav custom-main-menu {
width: 100% !important;
display: flex !important;
flex: 1 1 auto !important;
justify-content: center !important;
}

#mainnav .grid > div:nth-child(3) {

display: flex !important;
flex-wrap: wrap !important;
justify-content: space-between !important;
}
#mainnav .grid > div:nth-child(3) > :nth-child(1),
#mainnav .grid > div:nth-child(3) > :nth-child(2) {
order: 1 !important;
}
#mainnav .grid > div:nth-child(3) > :nth-child(3),
#mainnav .grid > div:nth-child(3) > :nth-child(4) {
order: 2 !important;
}
#mainnav .grid > div:nth-child(3) > :nth-child(1) {
position: absolute !important;
left: 90px !important;
}

#mainnav .grid > div:nth-child(3) > :nth-child(2) {
position: absolute !important;
left: 50px !important;
}
#mainnav .grid > div:nth-child(3) > :nth-child(3) {
position: absolute !important;
right: 50px !important;
}
#mainnav .grid > div:nth-child(3) > :nth-child(4) {
position: absolute !important;
right: 90px !important;
}
body .navbar-brand {
margin-top: 6px !important;

}

}

.art-store-footer .copyright-text p, .copyright-text p a,span.text-sm.copyright-text{
display: none !important;
}



/* **** */

.group.s-product-card-image{
aspect-ratio: 12/18 !important;
object-fit: contain !important;
width: 100% !important;
background-color: white  !important;  
}

/* *** */
