/* https://salla.sa/sarah_line */


#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-banners.py-10.overflow-hidden  > div > div.grid > div:nth-child(3){
margin-right: 50% !important;
}
.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background: var(--color-background)  !important ;
color:  var(--color-primary) !important ;
}
.kayan-faq.kayan-faq-3> div > div.accordion-container{
border: none !important;	
}
.kayan-faq > div > div.accordion-container.flex.flex-col.justify-center > div {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
margin: 0.8rem auto !important;
background: var(--color-primary) !important ;
color: var(--color-background) !important ;
border-radius: 0.6rem !important;
}
.kayan-features  > div > div.flex {
display: grid !important;
grid-template-columns: repeat(2, 1fr) !important;
gap: 1rem !important; 
}
.kayan-features > div > div.flex > *:first-child {
grid-column: 1 / -1;
}
custom-salla-product-card > div > div.overflow-hidden.relative > a  > img , .s-products-list-vertical-cards > custom-salla-product-card > div > div.overflow-hidden.relative > a> img{
aspect-ratio: 12/18 !important;
object-fit: cover !important;
}
#comments-filter ,  salla-comments > div > div > div.s-comments-header.has-total > div , form > salla-product-options > salla-conditional-fields > div  > div > div > div > label  > div, .main-content  > form > salla-product-options{
background: var(--color-background)  !important;
}
.custom-bar > div > h3 {
color:  var(--color-background)  !important ;	
}
salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card  > div > div.overflow-hidden  > a.block  > span , .kayan-promotion_title , .banner-label{
background: var(--color-primary) !important ;
color: var(--color-background) !important ;
}
.separator-wave {
background: linear-gradient(90deg, transparent,var(--color-primary) , transparent) !important ;
} 
.kayan-features , .separator-wave {
border-color: var(--color-primary) !important;
}
.kayan-features,.s-block--testimonials {
border-color: var(--color-primary) !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > section > div > div.accordion-container.flex.flex-col.justify-center.items-center.w-full  , #app > div.app-inner.flex.flex-col.min-h-full > section > div , .kayan-faq{
border: none !important;
}

.s-product-options-grid-mode input:checked + div , salla-products-list custom-salla-product-card .discountPercentage {
background: var(--color-primary) !important;
color: var(--color-background) !important;
}
.app-inner.flex.flex-col .navbar.invisible{
z-index: 1 !important;
}
salla-products-list > div.s-products-list-wrapper.s-products-list-vertical-cards > custom-salla-product-card > div > div.overflow-hidden.relative > a.block.flex.w-full.h-full.justify-center.items-end.px-8.duration-700 > span{
font-size: 0.6rem !important;
}
footer > div > div > div  > div  > a > img ,
footer > div > div  > div  > div > ul > salla-social , footer > div > div  > div > div.flex  > p{
text-align: center !important;
margin: auto !important;
}

@media (max-width: 767px){

.relative.px-10.py-10.container.mx-auto.craffo-components-statistics{
margin: 0 !important;
}
#app > div.app-inner.flex.flex-col.min-h-full > div.kayan-banners.py-10.overflow-hidden{
margin-top: 0 !important;
padding-top: 0 !important;
}
.kayan-header  > div > div > div.flex-1 > div.w-24 > a > img{
display: none !important ;
width: 4rem !important;
max-width: 4rem !important;
}
.craffo-components-statistics > div{
display: unset !important;
grid-template-columns: unset !important;
}
.craffo-components-statistics > div>div{
padding: 1.25rem !important;
margin: 1.25rem !important;	
}
.kayan-categories {
	margin-top: 0 !important;
	padding-top: 0  !important;
}
.mx-auto.craffo-components-statistics > div > div > div.mt-1{
font-size: 2.9rem !important;	
}
#app > div.app-inner.flex.flex-col.min-h-full > div.relative.px-10.py-10.container.mx-auto.craffo-components-statistics > div > div> div.mt-1.text-lg{
font-size: 1.3rem  !important;
}
.custom-bar > div > div > salla-social-share > div > slot-fb > salla-button > button {
background: var(--color-background)  !important ;
color:  var(--color-primary) !important ;
}

footer > div > div > div:nth-child(3) > salla-contacts > div , footer > div > div > div:nth-child(3) > salla-contacts > div a{
	justify-content: center !important;
	margin: auto !important;
}
}


@media (min-width: 767px){
#app > div.app-inner.flex.flex-col.min-h-full > div.relative.px-10.py-10.container.mx-auto.craffo-components-statistics{
margin: 11rem auto 1rem auto !important;
}
.app-inner.flex.flex-col.min-h-full > div.navbar.invisible{
margin: 2rem auto !important;
}

}
